.Dropzone {
    height: 30px;
    width: 120px;
    background-color: rgb(32, 117, 113);
    border: 2px rgb(32, 133, 119);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    color: aliceblue;
}
.Icon {
    opacity: 0.3;
    height: 30px;
    width: 64px;
}
.filewraper{
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 120px;
    background-color: blue;
    opacity: 0;
    padding: 0;
}
.FileInput {
    position: relative;
    height: 400px;
    width: 800px;
    cursor: pointer;
    transform: scale(2);
}