.Dropzone {
    height: 50px;
    width: 315px;
    background-color: #fff;
    border: 2px dashed rgb(187, 186, 186);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    margin-top: 20px;
}
.Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
}
.filewraper{
    position: absolute;
    overflow: hidden;
    height: 50px;
    width: 315px;
    background-color: blue;
    opacity: 0;
    padding: 0;
}
.FileInput {
    position: relative;
    height: 400px;
    width: 800px;
    cursor: pointer;
    transform: scale(2);
}