.intelifield{
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
    width: 400px;
    height: 35px;
    margin: 2px;
    
}
.intelifield_label,.intelifield_data{
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
}
.intelifield_data_text{
    margin-left: 3px;
    font-weight: normal;
}
.intelibox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 400px;
    height: max-content;
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
.intelifield_data{
    border-radius: 2px;
    background-color: rgb(216, 216, 216);
    color: rgb(12, 12, 12);
    
}
.intelifield_label{    
    color: rgb(43, 70, 61);
}
.inteliboxmedium{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    width: 400px;
    height: 200px;
    margin-top: 2px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

    margin-top: 15px;
    
}
.inteliinputtextbox{
    width: 400px;
    height: 90px;
    font-size: 1em;
    line-height: 2.54em;
    border: none;
    border: 0.08em;
    border-style: solid;
    border-color: #31837f;
    
    outline: none;
    padding: 0;
    margin: 0;

    text-align: justify;
    resize: none;
    
}
.inteliinput_boxb{
    width: 400px;
    height: 115px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.statustitle{
    color: rgb(43, 70, 61);
    font-size: large;
    text-align: center
}